:root {
  --color-1: #FBFACD;
  --color-2: #DEBACE;
  --color-3: #BA94D1;
  --color-4: #7F669D;
  --shadow: #0007;
  --textcolor-1: #000;
  --textcolor-2: #000;
  --textcolor-3: #000;
  --textcolor-4: #fff;

  --container-width: 120ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #65647C;
    --color-2: #8B7E74;
    --color-3: #C7BCA1;
    --color-4: #F1D3B3;
    --shadow: #fff7;
    --textcolor-1: #fff;
    --textcolor-2: #fff;
    --textcolor-3: #fff;
    --textcolor-4: #000;
  }
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(./Karla.woff2) format('woff2');
}

*, *:after, *:before {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

*:where(:active, :focus, :hover) {
  outline: none;
}

html {
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: var(--color-1);
  color: var(--textcolor-1);
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
}

button {
  border: none;
  background-color: var(--color-4);
  border-radius: .25rem;
  box-shadow: .125rem .125rem .125rem var(--shadow);
  color: var(--textcolor-4);
  transition: all 300ms ease-in-out;
}

button:where(:active, :focus, :hover) {
  background-color: var(--color-2);
  color: var(--textcolor-2);
  box-shadow: 0 0 0 var(--shadow);
}

input, textarea {
  background-color: var(--color-2);
  border: .125rem solid var(--color-4);
  border-radius: .25rem;
  color: var(--textcolor-2);
  padding: .25rem 1rem;
}

input:where(:focus),
textarea:where(:focus) {
  background-color: var(--color-3);
  color: var(--textcolor-1);
}

label {
  font-weight: 600;
  margin-inline-start: 1rem;
}
label:has(+ *:where(:focus, :hover)) {
  text-decoration-line: underline;
  text-decoration-thickness: .125rem;
}